body{
    background-image: url(disgusting.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}
div{
    background:linear-gradient(to left, rgba(0, 255, 208, 0.611),rgba(255, 0, 0, 0.501));
    padding: 10px;
    margin: 30px;
    font-family: Arial, sans-serif;
    animation: myani 2s ease forwards;
}

@keyframes myani{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}